<div>
    <div class="top">
       <div></div>
        <div>Email sent to {{ctrl.user.email}}</div>
        <div>Click the link in the email to confirm your email address</div>
    </div>
    <div class="bottom">
        <div>
            <button type="button" class="btn btn-dark" ng-click="ctrl.signUP()">
                Go to Inbox
            </button>
        </div>
        <div>
            <button type="button" class="btn btn-dark" ng-click="ctrl.signUP()">
                Resend Email
            </button>
        </div>
    </div>
</div>