<div class="footer appHeader">
    <div></div>
    <div class="footerLink">
        <button type="button" class="btn btn-link ">
            About Us
        </button>
        <button type="button" class="btn btn-link ">
            Privacy Policy
        </button>
        <button type="button" class="btn btn-link ">
            Copywright Policy
        </button>
        <button type="button" class="btn btn-link ">
            User Agreement
        </button>
        <button type="button" class="btn btn-link ">
            Send Feedback
        </button>
    </div>
</div>