<div class="navbar-default navbar-fixed-top " role="navigation" >
    <div class="header">
        <div class='logo'>

        </div>
        <div class="col-sm-5 col-sm-offset-1 searchStyle">
            <div id="imaginary_container">
                <div class="input-group stylish-input-group">
                    <input type="text" class="form-control" placeholder="Search">
                    <span class="input-group-addon">
                        <button >
                            
                        </button>
                        </span>
                </div>
            </div>
        </div>
        <div>
            <button type="button" class="btn button-add-user" ng-click="alert()" />
            <button type="button" class="btn button-notification" ng-click="alert()" />
            <button type="button" class="btn button-message" ng-click="alert()" />
            <button type="button" class="btn button-dp" ng-click="alert()" />
        </div>
    </div>
    <div classs="headerNext">
        <button type="button" class="button-link" ng-click="ctrl.showView('home')">
            Home
        </button>
        <button type="button" class="button-link" ng-click="ctrl.showView('profile')">
            Profile
        </button>
        <button type="button" class="button-link" ng-click="ctrl.showView('connections')">
            My Connections
        </button>
        <button type="button" class="button-link" ng-click="ctrl.showView('jobs')">
            Job Alerts
        </button>
    </div>
</div>