<div style='height:100%;width:100%;' id='homePage' ng-include="ctrl.homeScreenUrl" ng-show="ctrl.homeScreen =='home'">
</div>
<div style='height:100%;width:100%;' id='homePage' ng-include="ctrl.profilePageUrl" ng-show="ctrl.homeScreen =='profile'">
</div>
<div style='height:100%;width:100%;' id='homePage' ng-include="ctrl.connectionPageUrl" ng-show="ctrl.homeScreen =='connections'">
</div>
<div style='height:100%;width:100%;' id='homePage' ng-include="ctrl.jobPageUrl" ng-show="ctrl.homeScreen =='jobs'">
</div>